:root {
  --font-mono: 'Montserrat', sans-serif;
  --font-header: 'Schnyder M Trial', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  /* NAVBAR */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    font-family: var(--font-mono);
    font-size: 22px;
    color: white;
    margin: 0;
  }

  .navbar span:hover {
    color: #8b8b8b;
    transition: color 0.3s ease;
    cursor: pointer;
  }

  .left,
  .center,
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left,
  .right {
    flex: 0.2; 
  }
  
  .center {
    flex: 1;
  }

  .lets-talk {
    width: 150px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
  }
  .center span {
    margin: 0 10px;
  }

  /* MAIN */
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .hero1 {
    font-family: var(--font-header);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 130px;
  }

  .hero2 {
    font-family: var(--font-header);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 130px;
    -webkit-text-stroke: 2px white; /* For Safari/Chrome */
    text-stroke: 2px white; /* For Firefox */
    color: transparent; /* Make the text transparent to show only the stroke */
  }

  .hero3 {
    font-family: var(--font-header);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 130px;
  }

  .hero-image {
    margin-top: -330px;
  }

  /* QUOTE */
  .quote-container {
    height: 100vh; /* Set the height to full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-mono);
    color: white;
  }

  .inspo {
    font-size: 81px;
    padding: 4rem;
    font-weight: bold;
  }

  .quote {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
  }


}
