:root {
  --font-mono: 'Montserrat', sans-serif;
  --font-header: 'Schnyder M Trial';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0e0e0c;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    scroll-behavior: smooth;
  }

  /* NAVBAR */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    font-family: var(--font-mono);
    font-size: 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .navbar.scrolled {
    background-color: rgba(14, 14, 12, 1);
  }
  
  .left, .center, .right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.2;
  }

  .logo {
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .logo:hover {
    transform: scale(1.1);
  }
  
  .center {
    flex: 1;
    position: relative;
  }
  .center a {
    text-decoration: none;
    color: white;
  }
  
  .center span {
    margin: 0 10px;
    cursor: pointer;
    position: relative;
  }
  
  .center span::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }
  
  .center span:hover::after {
    width: 100%;
  }
  
  .logo-button, .lets-talk-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    outline: none;
  }
  
  .lets-talk {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .lets-talk:hover {
    transform: scale(1.1);
  }

  /* MAIN */
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 100px;
    min-height: 100vh;
    position: relative;
  }
  
  .hero1, .hero2, .hero3 {
    display: flex;
    font-family: var(--font-header);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 10.5vw;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    backface-visibility: hidden;
  }
  
  .hero2 {
    -webkit-text-stroke: 2px white; /* For Safari/Chrome */
    color: transparent; /* Make the text transparent to show only the stroke */
  }
  
  .hero-image {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    z-index: 1;
  }
  

  /* QUOTE */
  .quote-container {
    height: 100vh; /* Set the height to full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-mono);
    color: white;
  }

  .inspo {
    font-size: 81px;
    padding: 4rem;
    font-weight: bold;
  }

  .quote {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
  }

  /* ABOUT ME  */
  .about {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-mono);
    color: white;
    padding-top: 2rem;
  }
  
  .section1-container {
    display: flex;
    align-items: center;
  }
  
  .section1-container span {
    font-size: 64px;
    font-weight: bold;
    margin: 0 1rem;
  }

  .photo-container {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .photo {
    width: 50%;
    height: auto;
    border-radius: 2%;
    /*border: 3px solid white;*/
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
    margin-left: 1rem;

  }

  .who-am-i {
    display: flex;
    /* flex: 0.5; */
    flex-direction: column;
    align-items: center;
  }
  
  .who-am-i span {
    font-size: 50px;
    font-weight: bold;
  }

  .who-am-i p {
    width: 80%;
    margin-top: 1rem;
    font-size: 1.35rem;
  }

   /* WORK  */

   .work {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-mono);
    color: white;
    padding-top: 2rem;
  }
  
  .work-container {
    display: flex;
    align-items: center;
  }
  
  .work-container span {
    font-size: 64px;
    font-weight: bold;
    margin: 0 1rem;
  }

  .work-pic-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 5rem;
  }
  
  .work-pic {
    border-radius: 2%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
  }
  
  .work-name {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .work-pic-container.reverse {
    flex-direction: row-reverse;
    margin-right: 5rem;
    margin-left: 0;
  }
  
  .work-pic-container span {
    margin-top: 1rem;
    font-size: 50px;
    font-weight: bold;
  }

   /* SOCIALS  */


   .socials {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-mono);
    color: white;
    padding-top: 2rem;
  }
  
  .socials-container {
    display: flex;
    align-items: center;
  }
  
  .socials-container span {
    font-size: 64px;
    font-weight: bold;
    margin: 0 1rem;

  }

  .socials-cards {
    padding-bottom: calc(100vh/4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socials-cards img{
    margin: 0 10px;
  }

  /*CONTACT*/

  .contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-mono);
    background-color: white;
    color: #0E0E0C;
    padding-top: 2rem;
  }
  
  .contact-container {
    display: flex;
    align-items: center;
  }
  
  .contact-container span {
    font-size: 64px;
    font-weight: bold;
    margin: 0 1rem;

  }

  .contact-me {
    font-family: var(--font-header);
    font-size: 170px;
    font-weight: bold;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding-bottom: calc(100vh/3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
