:root {
  --font-mono: "Helvetica";
  --font-header: 'Schnyder M Trial';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
  background-color: #0e0e0c;
  cursor: none;

}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;

  }


  /* NAVBAR */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    font-family: var(--font-mono);
    font-size: 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #0e0e0c;
  }
  
  .left, .center, .right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.2;
  }

  .logo {
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .logo:hover {
    transform: scale(1.1);
  }
  
  .center {
    flex: 1;
    position: relative;
  }
  .center a {
    text-decoration: none;
    color: white;
  }
  
  .center span {
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    opacity: 1;
  }
  
  .center span::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }
  
  .center span:hover::after {
    width: 100%;
  }
  
  .logo-button, .lets-talk-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    outline: none;
  }
  
  .lets-talk {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .lets-talk:hover {
    transform: scale(1.1);
  }

  /* Media queries for responsiveness */
  @media (max-width: 767px) {
    .navbar {
      font-size: 15px;
    }

    .logo {
      width: 40px;
      height: auto;
    }

    .lets-talk {
      width: 100px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .navbar {
      font-size: 18px;
    }

    .logo {
      width: 45px;
      height: auto;
    }

    .lets-talk {
      width: 120px;
    }
  }

  @media (min-width: 1024px) {
    .navbar {
      font-size: 22px;
    }
    .logo {
      width: 55px;
      height: auto;
    }

    .lets-talk {
      width: 150px;
    }

  }

  /* MAIN */
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 100px;
    min-height: 100vh;
  }
  
  .hero1, .hero2, .hero3 {
    display: flex;
    font-family: var(--font-header);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 10.5vw;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    backface-visibility: hidden;
    color: #ffffff;
  }
  
  .hero2 {
    -webkit-text-stroke: 2px white; /* For Safari/Chrome */
    color: transparent; /* Make the text transparent to show only the stroke */
  }
  
  .hero-image {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1;
    top: 40%;
  }

    /* Media queries for responsiveness */
    @media (max-width: 767px) {
      .hero-container {
        margin-top: -100px;
        justify-content: center;
      }

      .hero1, .hero2, .hero3 {
        letter-spacing: 8px;
        font-size: 8vw;
      }

      .hero-image-img {
        width: 25rem !important;
      }
    }
  
    @media (min-width: 768px) and (max-width: 1023px) {
      .hero-container {
        margin-top: -100px;
        justify-content: center;
      }

      .hero1, .hero2, .hero3 {
        letter-spacing: 10px;
        font-size: 10vw;
      }
    }
  

  /* QUOTE */
  .quote-container {
    height: 200vh; /* Set the height to 2x viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-mono);
    color: white;
  }

  .inspo-wrapper {
    max-width: 100%;
  }

  .inspo {
    font-size: 170px;
    padding: 4rem;
    font-weight: bold;
    text-align: center;
  }

  .quote {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
  }

  /* Media queries for responsiveness */
  @media (max-width: 767px) {
    .inspo {
      font-size: 50px;
    }
    .quote {
      font-size: 13px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .inspo {
      font-size: 100px;
    }
    .quote {
      margin-top: 100px;
      font-size: 25px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1600px) {
    .inspo {
      font-size: 150px;
    }
    .quote {
      font-size: 40px;
    }
  }


  /* ABOUT ME  */
  .about {
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font-mono);
    color: white;
    padding-top: 2rem;
  }
  
  
  .section1-container {
    font-family: var(--font-header);
    font-size: 100px;
    font-weight: bold;
    margin-bottom: -20px;
  }

  .photo-container {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .photo {
    width: 50%;
    height: auto;
    border-radius: 2%;
    /*border: 3px solid white;*/
    opacity: 0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
    margin-left: 1rem;

  }

  .who-am-i {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 8rem;
  }
  
  .who-am-i span {
    font-size: 50px;
    font-weight: bold;
  }

  .who-am-i p {
    width: 80%;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  @media (max-width: 399px) {
    .section1-container {
      font-size: 50px;
    }

    .photo-container {
      align-items: center;
      flex-direction: column;
    }

    .who-am-i {
      margin-top: 30px;
    }

    .who-am-i span {
      font-size: 20px;
    }

    .who-am-i p {
      font-size: 0.8rem;
    }
  }

  @media (min-width: 400px) and (max-width: 767px) {
    .section1-container {
      font-size: 50px;
    }

    .photo-container {
      align-items: center;
      flex-direction: column;
    }

    .who-am-i {
      margin-top: 30px;
    }

    .who-am-i span {
      font-size: 30px;
    }

    .who-am-i p {
      font-size: 1rem;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .section1-container {
      font-size: 80px;
    }
    
    .who-am-i span {
      font-size: 27px;
    }

    .who-am-i p {
      font-size: 1.1rem;
    }
  }

  @media (min-width: 1024px) and (max-width: 1299px) {

    .who-am-i span {
      font-size: 35px;
    }

    .who-am-i p {
      font-size: 1.3rem;
    }
  }

   /* WORK  */

   .work {
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-mono);
    color: white;
    padding-top: 2rem;
  }
  
  .work-container {
    display: flex;
    align-items: center;
  }
  
  .work-container span {
    font-family: var(--font-header);
    font-size: 100px;
    font-weight: bold;
    margin: 0 1rem;
  }

  .work-pic-container {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-left: 5rem;
    opacity: 0;
  }
  
  .work-pic {
    border-radius: 2%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
    transition: transform 0.5s ease;
    cursor: pointer;
  }

  .work-pic:hover {
    transform: scale(1.05);
  }

  .work-description-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;
  }
  
  .work-name {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .work-name span{
    font-family: var(--font-header);
    margin-top: 1rem;
    font-size: 30px;
    font-weight: bold;
  }

  .description{
    padding: 30px;
  }

  .description span{
    font-family: var(--font-mono);
    font-size: 20px;
  }
  
  .work-pic-container.reverse {
    flex-direction: row-reverse;
    margin-right: 5rem;
    margin-left: 0;
  }

   /* SKILLS  */


   .socials {
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;;
    align-items: center;
    font-family: var(--font-header);
    color: white;
    padding-top: 2rem;
  }
  
  .socials-container {
    display: flex;
    align-items: center;
  }
  
  .socials-container span {
    font-size: 100px;
    font-weight: bold;
    margin: 0 1rem;
  }

  .socials-cards {
    padding-bottom: calc(100vh/4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .custom-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid white;
    border-radius: 70px;
    position: relative;
    width: 300px; 
    height: 300px;
  }

  .card {
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  }
  
  .custom-box:hover .card {
    transform: translateY(-30px) scale(0.8); 
  }

  .text {
    font-family: var(--font-mono);
    font-size: 50px;
    position: absolute;
    bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .custom-box:hover .text {
    opacity: 1;
  }

  .socials-cards img{
    margin: 0 10px;
  }

  @media (max-width: 399px) {
    .socials-container span {
      font-size: 50px;
    }

    .text {
      font-size: 20px;
    }

    .socials-cards img{
      scale: 0.2;
    }

    .custom-box {
      width: 100px; 
      height: 100px;
    }
  }

  @media (min-width: 400px) and (max-width: 767px) {
    .socials-container span {
      font-size: 50px;
    }

    .text {
      font-size: 30px;
    }

    .socials-cards img{
      scale: 0.4;
    }

    .custom-box {
      width: 150px; 
      height: 150px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .socials-container span {
      font-size: 80px;
    }

    .text {
      font-size: 35px;
    }

    .socials-cards img{
      scale: 0.6;
    }

    .custom-box {
      width: 200px; 
      height: 200px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1299px) {
    .text {
      font-size: 40px;
    }

    .socials-cards img{
      scale: 0.8;
    }

    .custom-box {
      width: 250px; 
      height: 250px;
    }
  }

  /*CONTACT*/

  .contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0E0E0C;
    color: white;
    width: 100%;
  }
  
  .contact-me {
    font-family: var(--font-header);
    font-size: 200px;
    font-weight: bold;
    text-shadow: 5px 5px 5px #7a7a7a;
    text-align: center;
    position: relative; /* Ensure the relative positioning for pseudo-element */
  }
  .contact-me span{
    cursor: pointer;
  }

  .contact-me a{
    text-decoration: none;
    color: white;
  }
  
  .contact-me:before {
    content: ''; /* Add content to the pseudo-element */
    position: absolute; /* Position the pseudo-element */
    bottom: 2rem; /* Adjust the distance from the text */
    left: 0; /* Align the pseudo-element to the left of the text */
    height: 0.3rem; /* Set the height of the underline */
    width: 100%; /* Set the width of the underline to match the text width */
    transform-origin: center; /* Set the transform origin */
    transform: scaleX(0); /* Initially hide the underline */
    background-color: rgb(255, 255, 255); /* Set the background color of the underline */
    transition: transform 0.7s cubic-bezier(.65,0,.35,1); /* Apply transition effect */
  }
  
  .contact-me:hover:before {
    transform: scaleX(1); 
  }
  
  @media (max-width: 767px) {
    .contact-me {
      font-size: 100px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .contact-me {
      font-size: 100px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1400px) {
    .contact-me {
      font-size: 140px;
    }
  }

  /* FOOTER */
  .footer {
    color: white;
    padding: 2rem;
    font-family: var(--font-mono);
  }
  
  .footer-container1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.5rem; /* Example gap */
  }
  
  .footer-container1 .navigationdiv,
  .footer-container1 .socialsdiv {
    display: flex;
    flex-direction: column;
  }
  
  .footer-container1 .navigation-links,
  .footer-container1 .socials-links {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Example gap between links */
  }

  .navigation-links a,
  .socials-links a{
    text-decoration: none;
    color: white;
  }

  .socials-links .icon{
    transition: transform 0.3s ease;
  }
  
  .socials-links .icon:hover {
    transform: scale(1.5);
  }

  .navigation-links span {
    cursor: pointer;
    position: relative;
    opacity: 1;
  }
  
  .navigation-links span::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }
  
  .navigation-links span:hover::after {
    width: 100%;
  }

  .navigationText,
  .socialsText {
    font-family: var(--font-header);
    display: flex;
    border-bottom: 1.5px solid #ffffff; /* Example border color */
    padding-bottom: 0.25rem; /* Example padding */
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff; /* Example text color */
    margin-bottom: 2rem; /* Example margin bottom */
  }
  
  /* Responsive styles */
  @media (min-width: 768px) {
    .footer-container1 {
      gap: 3rem; /* Adjust gap for larger screens */
    }
  }
  
  @media (min-width: 1024px) {
    .footer-container1 {
      grid-template-columns: repeat(12, minmax(0, 1fr)); /* 12 columns layout */
      gap: 3rem; /* Adjust gap for larger screens */
    }
  
    .footer-container1 .navigationdiv,
    .footer-container1 .socialsdiv {
      grid-column: span 6; /* Each section spans 6 columns on larger screens */
    }
  }

  .footer-container2 {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 3rem; /* Example gap between grid items */
    margin-top: 2.5rem; /* Example margin top */
    align-items: flex-end; /* Align items to the bottom */
  }
  
  /* Responsive styles */
  @media (min-width: 640px) {
    .footer-container2 {
      grid-template-columns: repeat(12, minmax(0, 1fr)); /* 12 columns layout on small screens */
      gap: 2rem; /* Adjust gap for larger screens */
    }
  
    .footer-container2 .copyright,
    .footer-container2 .time,
    .footer-container2 .go-top {
      grid-column: span 4; /* Each item spans 4 columns on small screens */
    }
  }

.copyright span {
  font-weight: bold;
  line-height: 85%; /* Adjust leading */
  font-size: 6rem; /* Adjust font size */
  color: #ffffff; /* Example text color */
  font-family: var(--font-header);
}

/* Responsive styles */
@media (max-width: 767px) {
  .copyright span {
    font-size: 2rem;
  }

  .copyright {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .copyright span {
    font-size: 2.5rem;
  }
}

@media (min-width: 1150px) and (max-width: 1399px) {
  .copyright span {
    font-size: 4rem;
  }
}

@media (min-width: 1400px) and (max-width: 1700px) {
  .copyright span {
    font-size: 5rem;
  }
}

.time {
  display: flex; /* Enable flexbox layout */
  flex-direction: column; /* Arrange child elements in a column */
  align-items: center;
  margin-left: 5rem;
}

.local{
  font-family: var(--font-header);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.time-counter{
  font-family: var(--font-header);
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .time {
    margin-left: 0;
    align-items: center;
  }

  .local{
    font-size: 1rem;
  }
  
  .time-counter{
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .local{
    font-size: 1.4rem;
  }
  
  .time-counter{
    font-size: 1rem;
  }
}

/* Responsive styles */
@media (min-width: 640px) {
  .time {
    grid-column: span 3; /* Each item spans 3 columns on small screens */
  }
}

@media (min-width: 768px) {
  .time {
    grid-column: span 4; /* Each item spans 4 columns on medium screens */
    margin-bottom: 0; /* Remove margin bottom on medium screens */
  }
}

@media (min-width: 1024px) {
  .time {
    grid-column: span 3; /* Each item spans 3 columns on large screens */
  }
}

.go-top {
  width: 100%; /* Make the div full width */
  display: flex; /* Enable flexbox layout */
  justify-content: flex-end; /* Align items to the end of the container */
}

/* Responsive styles */
@media (min-width: 640px) {
  .go-top {
    grid-column: span 3; /* Each item spans 3 columns on small screens */
  }
}

@media (min-width: 1024px) {
  .go-top {
    grid-column: span 3; /* Each item spans 3 columns on large screens */
  }
}

.icon {
  font-size: 1.5rem;
}

.button-go-top {
  position: relative;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50%; /* Ensure it's a circle */
  padding: 10px; /* Adjust as needed */
  cursor: pointer;
  overflow: hidden;
  background: none;
  transform: translate3d(0, 0, 0);

}

/* Ensure the icon inside the button is properly styled */
.button-go-top .icon {
  color: white; /* Set icon color */
  font-size: 2.5rem;
}

@media (max-width: 767px) {
  .go-top {
    display: flex;
    justify-content: center;
  }

  .button-go-top {
    padding: 5px; /* Adjust as needed */
  }
  .button-go-top .icon {
    font-size: 1.5rem;
  }
}

.button-go-top::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 150%;
  background: white;
  pointer-events: none;
  transform: translate3d(0, 80px, 0);
  transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.button-go-top:hover .icon {
  color: #0e0e0c;
  transition: 0.3s ease-in-out;
}

.button-go-top:hover::after {
  transform: translate3d(0, 0, 0);
}

/* Contact Form */
.contact-section {
  padding: 2em 0;
}

.contact-form-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

.contact-form-title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -15px;
  margin-left: -15px;
}

.contact-form-title {
  text-align: center;
  margin-bottom: 3rem;
}

.contact-form-title-header {
  font-family: var(--font-header);
  font-size: 60px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 0.5rem
}

.contact-form-column {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.contact-form-inside-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.contact-form-info-row {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 3rem;
}

.contact-form-inner-info-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-evenly;
}

.contact-form-info-block {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.contact-form-info-box {
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.contact-form-info-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  background: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form-info-icon:hover {
  transform: scale(1.2);
}

.contact-form-info-text {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.contact-form-info-text p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: var(--font-mono);
}

.contact-form-info-text span{
  font-weight: 500;
  display: block;
  margin-bottom: 0.5em;
}

.contact-form-form-title {
  font-family: var(--font-mono);
  text-align: center;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.75rem;
}

.contact-form-form {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.form {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

textarea.form-control {
  height: inherit !important;
}

#message {
  resize: vertical;
}

.btn {
  width: 100%;
  display: block;
  padding: 12px 16px;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
}

.btn.btn-primary:hover {
  background: #ffffff !important;
}

.btn.btn-primary {
  background: #e3e2e2 !important;
  border-color: #6e6e6e !important;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

}

.success-message{
  color: lime;
  font-family: var(--font-mono);
  font-size: 50px;
  text-align: center;
}

.backbtn{
  margin: 0;
  margin-left: 20px;
  margin-top: 1.3em;
  position: absolute;
  cursor: pointer;
  transition: 0.3s ease;
  width: 40px;
  height: 40px;
}


.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transform: scale(2);
  transition: transform 0.3s ease;
  z-index: 2000;
}

}
